<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    rel="stylesheet"
    />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Cleancar Task</title>
  </head>
  <body>
    <div
      class="flex flex-col mt-3 mx-auto max-w-[800px] px-3 md-custom:px-10 min-h-[95vh] items-center"
    >
      <p class="mt-20">This is main</p>
    </div>
  </body>
</html>
